<div class="about-the-product-container" style="height: 50dvmax;">

  <!-- Título -->
  <div class="about-the-product-header">
    <h2>{{'about-the-product.title' | translate}}</h2>
    <p>{{'about-the-product.content' | translate}}</p>
  </div>

  <div class="video-container">
    <video controls class="about-the-product-video">
      <source src="../../../../assets/videos/product-demo.mp4" type="video/mp4">
      {{'about-the-product.video-not-supported' | translate}}
    </video>
  </div>
</div>
