<div class="about-the-team-container" style="height: 50dvmax; padding-top: 100px; margin-bottom: 1rem">
  <!-- Título -->
  <div class="about-the-team-header">
    <h2>{{ 'about-the-team.title' | translate }}</h2>
    <p>{{ 'about-the-team.content' | translate }}</p>
  </div>

  <div class="video-container">
    <iframe
      width="560"
      height="315"
      [src]="videoUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
  </div>
</div>
