<h2 mat-dialog-title>{{'footer.terms-and-conditions.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>1. {{'footer.terms-and-conditions.introduction.title' | translate }}</h3>
  <p>{{'footer.terms-and-conditions.introduction.content' | translate }}</p>

  <h3>2. {{'footer.terms-and-conditions.use-of-the-service.title' | translate }}</h3>
  <p>{{'footer.terms-and-conditions.use-of-the-service.content' | translate }}</p>

  <h3>3. {{'footer.terms-and-conditions.user-responsibility.title' | translate }}</h3>
  <p>{{'footer.terms-and-conditions.user-responsibility.content' | translate }}</p>

  <h3>4. {{'footer.terms-and-conditions.responsibility-of-the-development-team.title' | translate }}</h3>
  <p>{{'footer.terms-and-conditions.responsibility-of-the-development-team.content' | translate }}</p>

  <h3>5. {{'footer.terms-and-conditions.privacy-and-data-protection.title' | translate }}</h3>
  <p>{{'footer.terms-and-conditions.privacy-and-data-protection.content' | translate }}</p>

  <h3>6. {{'footer.terms-and-conditions.intellectual-property.title' | translate }}</h3>
  <p>{{'footer.terms-and-conditions.intellectual-property.content' | translate }}</p>

  <h3>7. {{'footer.terms-and-conditions.ethical-and-professional-principles.title' | translate }}</h3>
  <p>{{'footer.terms-and-conditions.ethical-and-professional-principles.content' | translate }}</p>

  <h3>8. {{'footer.terms-and-conditions.modifications-and-contact.title' | translate }}</h3>
  <p>{{'footer.terms-and-conditions.modifications-and-contact.content' | translate }} ventas&#64;galaxiawonder.com</p>

</mat-dialog-content>
